body {
  background-color: #1f2028;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}

/* Andreas: Trying to get gradient to work on the hover from top to bottom. Krisitan made one that works from side to side but can't get the transition from top to bottom */

/* button {
  background: rgb(66, 113, 227);
  background: linear-gradient(
    180deg, rgba(66,113,227,1) 0%, rgba(166,79,217,1) 50%, 
    rgba(202,67,214,1) 100%, 
  );
  background-size: 100% 200%;
  background-position: top;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-position: bottom;
  
} */

h2 {
  color: white;
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.6rem;
}

label {
  color: white;
  font-size: 1.6rem;
}

input {
  width: 5rem;
  height: 2rem;
  margin: 1rem;
}

#group {
  margin-left: 5.3rem;
}

#results {
  color: white;
  font-size: 1.6rem;
}
