* {
  margin: 0;
  padding: 0;
}

body h1 {
  margin-top: 25px;
}

body .logo {
  margin-top: 86px;
}

body p {
  color: white;
  width: 80%;
  text-align: center;
  margin-top: 25px;
}

.paragraph {
  display: flex;
  justify-content: center;
}

.inputContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inputSection {
  text-align: center;
  margin-bottom: 40px;
}

.inputSection input {
  width: 150px;
  height: 50px;
  background-color: #4e4f59;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  text-indent: 5px;
}

.inputSection button {
  background: rgb(202, 67, 214);
  background: linear-gradient(
    90deg,
    rgba(202, 67, 214, 1) 2%,
    rgba(166, 79, 217, 1) 20%,
    rgba(101, 106, 222, 1) 45%,
    rgba(101, 106, 222, 1) 100%
  );
  background-size: 200%;
  background-position: right;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-left: 60px;
}

.inputSection button:hover {
  background-position: left;
}

.inputSection input::placeholder {
  font-size: 17px;
  text-indent: 5px;
}

.outputContainer p {
  width: 80%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.outputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
