/* 1rem = 10px */
/* NB!!! ^ */
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #1f2028;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 8.6rem;
}
#calc {
  height: 14.1rem;
}
h1 {
  color: white;
  text-align: center;
  margin-top: 8.6rem;
  font-size: 4.8rem;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "collatz birthday";
  gap: 3rem;
  max-width: max-content;
  flex-wrap: wrap;
  margin: 8.3rem auto;
  border: solid red;
  padding: 1rem;
}
.mainButtons {
  font-size: 3rem;
  padding: 2.3rem 2.9rem;
  width: 31.8rem;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: #656ade;
  cursor: pointer;
  margin: 2rem 2rem;
}
.collatzContainer {
  grid-area: "collatz";
  border: solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#collatzBtn {
  background: rgb(202, 67, 214);
  background: linear-gradient(
    270deg,
    rgba(202, 67, 214, 1) 2%,
    rgba(166, 79, 217, 1) 20%,
    rgba(101, 106, 222, 1) 45%,
    rgba(101, 106, 222, 1) 100%
  );
  background-size: 200%;
  background-position: left;
  transition: 0.4s ease-in-out;
}

#collatzBtn:hover {
  background-position: right;
}
#readCollatz {
  background-color: #1f2028;
  color: white;
  border: none;
  margin: 2rem 2rem;
  cursor: pointer;
  padding: 2rem;
  outline: none;
  font-size: 1.7rem;
}
.active,
#readCollatz:hover {
  background-color: rgb(93, 93, 93);
}
.contentCollatz {
  padding: 0 2rem;
  background-color: #1f2028;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.7rem;
  max-width: 31.8rem;
  border: none;
  margin: 0 auto;
}
.birthdayContainer {
  grid-area: "birthday";
  border: solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#birthdayButton {
  background: rgb(202, 67, 214);
  background: linear-gradient(
    90deg,
    rgba(202, 67, 214, 1) 2%,
    rgba(166, 79, 217, 1) 20%,
    rgba(101, 106, 222, 1) 45%,
    rgba(101, 106, 222, 1) 100%
  );
  background-size: 200%;
  background-position: right;
  transition: 0.4s ease-in-out;
}
#birthdayButton:hover {
  background-position: left;
}

#readBirthday {
  background-color: #1f2028;
  color: white;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  padding: 2rem;
  border: none;
  outline: none;
  font-size: 1.7rem;
}
.active,
#readBirthday:hover {
  background-color: rgb(93, 93, 93);
}

.contentBirthday {
  padding: 0 2rem;
  background-color: #1f2028;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.7rem;
  max-width: 31.8rem;
  border: none;
  margin: 0 auto;
  text-align: left;
}

@media screen and (max-width: 800px) {
  h1 {
    margin-top: 3rem;
    font-size: 4rem;
  }
  .main {
    gap: 2rem;
    margin: 5rem auto;
    border: solid red 3px;
    padding: 0.5rem 0.5rem;
  }
  .mainButtons {
    font-size: 2.5rem;
    padding: 2.3rem 2.9rem;
    width: 28rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #656ade;
    margin: 1rem;
    cursor: pointer;
  }
  .collatzContainer {
    grid-area: "collatz";
  }
  #collatzBtn {
    background: rgb(202, 67, 214);
    background: linear-gradient(
      270deg,
      rgba(202, 67, 214, 1) 2%,
      rgba(166, 79, 217, 1) 20%,
      rgba(101, 106, 222, 1) 45%,
      rgba(101, 106, 222, 1) 100%
    );
    background-size: 200%;
    background-position: left;
    transition: 0.4s ease-in-out;
  }

  #collatzBtn:hover {
    background-position: right;
  }
  #readCollatz {
    background-color: #1f2028;
    color: white;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    padding: 2rem;
    border: none;
    outline: none;
    font-size: 1.7rem;
  }
  .active,
  #readCollatz:hover {
    background-color: rgb(93, 93, 93);
  }
  .contentCollatz {
    padding: 0 2rem;
    background-color: #1f2028;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.7rem;
    max-width: 31.8rem;
    border: none;
    margin: 0 auto;
  }
  .birthdayContainer {
    grid-area: "birthday";
  }
  #birthdayButton {
    background: rgb(202, 67, 214);
    background: linear-gradient(
      90deg,
      rgba(202, 67, 214, 1) 2%,
      rgba(166, 79, 217, 1) 20%,
      rgba(101, 106, 222, 1) 45%,
      rgba(101, 106, 222, 1) 100%
    );
    background-size: 200%;
    background-position: right;
    transition: 0.4s ease-in-out;
  }
  #birthdayButton:hover {
    background-position: left;
  }

  #readBirthday {
    background-color: #1f2028;
    color: white;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    padding: 2rem;
    border: none;
    outline: none;
    font-size: 1.7rem;
  }
  .active,
  #readBirthday:hover {
    background-color: rgb(93, 93, 93);
  }

  .contentBirthday {
    padding: 0 2rem;
    background-color: #1f2028;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.7rem;
    max-width: 31.8rem;
    border: none;
    margin: 0 auto;
    text-align: left;
  }
}
