/* 1rem = 10px */
/* NB!!! ^ */
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #1f2028;
}

::selection {
  color: rgba(101, 106, 222, 1);
  /* color: rgba(202, 67, 214, 1); */
}

.mainButtons::selection {
  color: rgb(202, 67, 214);
  text-shadow: 0.2rem 0.2rem #1f2028;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 8.6rem;
}

#calc {
  height: 14.1rem;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 8.6rem;
  font-size: 4.8rem;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "collatz birthday";
  gap: 3rem;
  max-width: max-content;
  flex-wrap: wrap;
  margin: 8.3rem auto;
  padding: 1rem;
}
.mainButtons {
  font-size: 3rem;
  padding: 2.3rem 2.9rem;
  width: 31.8rem;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: #656ade;
  cursor: pointer;
  margin: 2rem 2rem;
}
.collatzContainer {
  grid-area: "collatz";
  display: flex;
  flex-direction: column;
  align-items: center;
}
#collatzBtn {
  background: rgb(202, 67, 214);
  background: linear-gradient(
    270deg,
    rgba(202, 67, 214, 1) 2%,
    rgba(166, 79, 217, 1) 20%,
    rgba(101, 106, 222, 1) 45%,
    rgba(101, 106, 222, 1) 100%
  );
  background-size: 200%;
  background-position: left;
  transition: 0.4s ease-in-out;
}

#collatzBtn:hover {
  background-position: right;
}
#readCollatz {
  background-color: #1f2028;
  color: white;
  border: none;
  margin: 1rem;
  cursor: pointer;
  padding: 2rem;
  outline: none;
  font-size: 1.6rem;
}
.active,
#readCollatz:hover {
  background-color: rgb(93, 93, 93);
}
/* lightmode info btn */
.light-mode #readCollatz:hover {
  background-color: #e4e5f1;
  color: black;
}

.light-mode #readCollatz:hover .arrow-image {
  background-color: #e4e5f1;
}
.contentCollatz {
  padding: 0 2rem;
  background-color: #1f2028;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.6rem;
  max-width: 31.8rem;
  border: none;
  margin: 0 auto;
}
.birthdayContainer {
  grid-area: "birthday";
  display: flex;
  flex-direction: column;
  align-items: center;
}
#birthdayButton {
  background: rgb(202, 67, 214);
  background: linear-gradient(
    90deg,
    rgba(202, 67, 214, 1) 2%,
    rgba(166, 79, 217, 1) 20%,
    rgba(101, 106, 222, 1) 45%,
    rgba(101, 106, 222, 1) 100%
  );
  background-size: 200%;
  background-position: right;
  transition: 0.4s ease-in-out;
}
#birthdayButton:hover {
  background-position: left;
}

#readBirthday {
  background-color: #1f2028;
  color: white;
  border: none;
  margin: 1rem;
  cursor: pointer;
  padding: 2rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
}
.active,
#readBirthday:hover, .light-mode #readBirthday:hover {
  background-color: rgb(93, 93, 93);
}
/* lightmode info btn */
.light-mode #readBirthday:hover {
  background-color: #e4e5f1;
  color: black;
}

.light-mode #readBirthday:hover .arrow-image {
  background-color: #e4e5f1;
}

.contentBirthday {
  padding: 0 2rem;
  background-color: #1f2028;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.6rem;
  max-width: 31.8rem;
  border: none;
  margin: 0 auto;
  text-align: left;
}

/* Lightmode */
.dm-lm-icon {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.light-mode {
  background-color: #fafafa;
  color: #1f2028;
}

.light-mode h1 {
  color: #1f2028;
}

.light-mode .contentCollatz, .light-mode .contentBirthday {
  background-color: #fafafa;
  color: black;
}

.light-mode .arrow-image {
  background-color: #fafafa;
  color: black;
  /* transition: background-color 0.3s; */
}

.light-mode #readCollatz, .light-mode #readBirthday {
  background-color: #fafafa;
  color: black;
}

.light-mode .mainButtons {
  box-shadow: 0.1rem 0.1rem 1rem #1f2028;
}

@media screen and (max-width: 775px) {
  .logo {
    margin-top: 5rem;
  }
  h1 {
    margin-top: 5rem;
    font-size: 4rem;
  }
  .main {
    gap: 2rem;
  }

  #readCollatz {
    margin: 0.5rem;
    font-size: 1.4rem;
  }

  .contentCollatz {
    font-size: 1.4rem;
  }
  #readBirthday {
    margin: 0.5rem;
    font-size: 1.4rem;
  }
  .contentBirthday {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 775px) {
  .logo {
    margin-top: 5rem;
  }
  #calc {
    height: 12rem;
  }
  h1 {
    margin-top: 5rem;
    font-size: 3rem;
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "collatz" "birthday";
    gap: 2rem;
    max-width: max-content;
    max-height: fit-content;
  }
}
